/* Color values */
$lightgray: #d3d3d3;
$mine-shaft: #2c2c2c;
$cararra: #f0efe9;
$white: #ffffff;
$shark: #20232a;
$atlantis: #7fc728;
$amaranth: #e83f53;

/*  Color assignments */

// Global assignments
$default-font-color: $mine-shaft;
$outer-bg-color: $cararra;
$inner-bg-color: $white;

// ButtonBar components assignments
$button-bar-bg-color: $shark;

/* Font assignments */

// Global assignments
$body-font-family: "Roboto";
$body-font-size: 1.5rem;
$heading-font-family: "Roboto";
$heading-font-size: 2.4rem;
$input-focus-color: $atlantis;

// Button bar components assignments
$add-post-bg-color: $atlantis;
$add-post-font-color: $white;
$remove-post-bg-color: $amaranth;
$remove-post-font-color: $white;
$update-post-bg-color: $atlantis;
$update-post-font-color: $white;
